p{
    font-family: arial, sans-serif;

}
.ds_1{
        color: white;
    }
.ds_1:hover{
    text-decoration: none;
    color:cornsilk;
}
.ds_1:active,.ds_1:focus{
    text-decoration: none;
    color: aqua;
}
.seebtn{
    position: absolute;
    top: 730px;
    right: 405px;
}
